* { font-family: Roboto,sans-serif;}
.btn.secondary:hover {
  background: #7160fb;
  color: #fff;
  border-color: #7160fb;
}
.btn.secondary {
  background: 0 0;
  color: #7160fb;
  text-align: center;
}

.btn.hover, .btn:hover {
background: #0f224a;
border-color: #0f224a;
}

.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #7160fb;
  border-radius: 25px;
  padding: 14px 22px;
  box-sizing: border-box;
  outline: 0;
  background: #7160fb;
  color: #fff;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  font-family: Roboto,sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}